venv/
__pycache__/
*.pyc
.env

# Ignore training data (too large for GitHub)
data/raw_midi/*
!data/raw_midi/.gitkeep
venv/
__pycache__/
*.pyc
.env

# Ignore training data (too large for GitHub)
data/raw_midi/*
!data/raw_midi/.gitkeep
# data/processed/*
# !data/processed/.gitkeep

# Ignore large model weights
# model/*.h5
# model/*.keras
*.npz
unsorted_midi/
*.wav
*.mid
*.mp3
*.m4a
midi_exports/
batch_exports/
scratch/
api/temp_demucs/api/synth/soundfont.sf2
